@use 'colors';
@use 'variables';




a{
    color: colors.$primary;
}
.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dark-grey{
    color: colors.$dark-grey;
}